<h3 class='my-3'>Выбери корабль</h3>
<div class='row mb-3'>
  <div class='btn btn-outline-primary rounded-0 ship ship-4'>
  </div>
</div>
<div class='row mb-3'>
  <div class='btn btn-outline-primary rounded-0 ship ship-3 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-3 me-3'>
  </div>
</div>
<div class='row mb-3'>
  <div class='btn btn-outline-primary rounded-0 ship ship-2 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-2 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-2 me-3'>
  </div>
</div>
<div class='row mb-3'>
  <div class='btn btn-outline-primary rounded-0 ship ship-1 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-1 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-1 me-3'>
  </div>
  <div class='btn btn-outline-primary rounded-0 ship ship-1 me-3'>
  </div>
</div>