<div class='card'>
  <div class='card-body'>
    <h5 class='card-header'>Log (last 10)</h5>
    <ul class='list-unstyled'>
      {{#each Log}}
        <li>{{this.description}}</li>
      {{/each}}
    </ul>
  </div>
</div>