<div class='container m-3'>
  {{#if isFirstShotsChoice}}
   {{! <form action='game' , method='post'>
    <div class='d-flex flex-column my-3'>
      <div class='form-check'>
        <input
          class='form-check-input'
          type='radio'
          name='priority'
          id='player'
          value='player'
          required
        />
        <label class='form-check-label' for='player'>
          Первый ход игрока
        </label>
      </div>
      <div class='form-check'>
        <input
          class='form-check-input'
          type='radio'
          name='priority'
          id='bot'
          value='bot'
        />
        <label class='form-check-label' for='bot'>
          Первый ход бота
        </label>
      </div>

    </div>
    <button type='submit' class='btn btn-primary'>Разместить корабли и начать
      игру</button>
  </form> }}
  {{else}}
  <div class="row">
       <div class="col-12 col-md-6">
        <h2> User map</h2>
      {{> map-grid placementUser }}
    </div>
    
        <div class="col-12 col-md-6">
          <h2>Bot map</h2>
           <form id="map-opponent-placement" class="row requires-validation" action='/game' , method='post'>
 
          {{> map-opponent-grid placementOpponent }}
          <div class="col-4">
          <button id = "submit-placement" type='submit' class='btn btn-outline-success mt-2 ms-2' value="{{gameId}}">
          Применить
          </button>
          </div>
          </form> 
    </div>
  </div>
  {{/if}}
</div>

{{!-- <div class='container m-3'>
    {{> map-grid }}
</div> --}}
