<div class='container m-3'>
  <div class="row">
       <div class="col-12 col-md-6">
        <h2> User map</h2>
      {{> map-grid placementUser }}
    </div>
    
        <div class="col-12 col-md-6">
          <h2>Bot map</h2>
           <form id="map-opponent-placement" class="row requires-validation" action='/game' , method='post'>
 
          {{> map-opponent-grid placementOpponent }}
          <div class="col-4">
          <button id = "submit-placement" type='submit' class='btn btn-outline-success mt-2 ms-2' value="{{gameId}}">
          Применить
          </button>
          </div>
          </form> 
    </div>
  </div>
</div>
{{!-- <div class='container m-3'>
    {{> map-grid }}
</div> --}}
