<div class='container'>
  {{#if isPostGame}}
    <form class='row my-3' action='/game' , method='post'>
      <div class='row'>
        <div class='d-flex flex-column my-3'>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='priority'
              id='player'
              value='player'
              required
            />
            <label class='form-check-label' for='player'>
              Первый ход игрока
            </label>
          </div>
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='priority'
              id='bot'
              value='bot'
            />
            <label class='form-check-label' for='bot'>
              Первый ход бота
            </label>
          </div>
        </div>
      </div>
      <div class='col-6'>
        <button
          id='submit'
          type='submit'
          class='btn btn-outline-success mt-2 ms-2'
        >
          Создать игру
        </button>
      </div>
    </form>
  {{else}}
    <div class='row my-3'>
      <div class='col-6'>
        <a
          href='/game'
          class='btn btn-outline-success'
          role='button'
        >{{gameButtonText}}</a></div>
    </div>
  {{/if}}
  <div class='row'>
    <h1 id='game-rules'>Правила игры</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta saepe
      cumque tempora aspernatur at minima, nesciunt, voluptas atque rerum
      obcaecati facilis consectetur et eum debitis aliquid repellat. Officiis,
      itaque illo!</p>
  </div>
</div>