<div class='container my-5'>
  <div class='alert alert-warning' role='alert'>
    Страница не существует или удалена!
  </div>
  <a href='/' class='btn btn-primary'>Вернуться на стартовую страницу</a>
</div>